<h1>Edit Article</h1>

<%= form_for(@article, :url => update_project_path) do |f| %>

    <%= f.label :title %>
    <%= f.text_field :title %>

    <%= f.label :content %>
    <%= f.text_field :content %>
  
    <%= f.label :draft %>
    <%= f.text_field :draft %>

    <%= f.submit("Edit Article")%>
  
    <% @contact.errors.full_messages.each do |msg| %>
        <p><%= msg %></p>
      <% end %>

  <% end %>