<h1>New User</h1>

<!-- Creates a POST request to "/users" -->
<%= @form_for @user do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :age %>
  <%= f.text_field :age %>

  <%= f.submit("Make a New User")%>
  
  <% @user.errors.full_messages.each do |msg| %>
      <p><%= msg %></p>
    <% end %>

<% end %>